<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeQuest</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main">
      <nav>
        <span><img src="../assets/Logo.jpeg" alt="" /></span>
        <span class="name">Code Quest</span>
      </nav>
      <div class="box"></div>
      <div class="hero">
        <div class="parent">
          <a href=""><img src="../assets/studentlogo.png" alt="" /></a>
        </div>
        <div class="child">
          <a href=""><img src="../assets/parentlogo.png" alt="" /></a>
        </div>
      </div>
    </div>
  </body>
</html>
